<!DOCTYPE html>
<html>
<head></head>
<body style="width:100%;">
	<div style="display:table; background-color: #80cbc4; padding-top: 20px; padding-bottom: 20px;">
		<img src="images/new_logo.png" style="vertical-align:middle; display:table-cell; width:100%; ">
		<div style="width: 62%; word-break: keep-all; vertical-align:middle; display:table-cell; padding-left:5%; padding-right:10%; text-align:right; background-color: #80cbc4;">
			<p>000님 안녕하세요, HeadstartSV입니다.</p>
			<h3><b>Chapter 1. Hello Python3<br>정답입니다!</b></h3>
			<p>위 Chapter에 대한 해답을 파일로 첨부했습니다. 본인이 놓친 부분이 있는지
			다시 한 번 점검해 보시고, 만약 추가적인 Feedback이 있다면, <a href="mailto://Info@headstartsv.com">Info@headstartsv.com</a>에 메일을 보내주세요.</p>
			<p><i>당신의 미래를 바꾸는데<br>Headstart가 함께 하겠습니다.</i></p>
		</div>
	</div>

	<div style="height: 5px;"></div>

	<div style="padding-top: 20px; padding-bottom: 20px; background-color: #616161; padding-left:10%; padding-right:10%;">
		<p style="text-align:right; color: #9c9c9c;">
		3350 Thomas Rd, Santa Clara 95054<br>
		(+1) 408-707-0660<br>
		대표이사 Ryan Koo<br>
		개인정보관리 책임자 서규원
		</p>
	</div>

</body>
</html>
