<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Headstart Silicon Valley</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
  <link href="{% static 'home/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'home/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	<style>
  @font-face {
		font-family: Raleway;
		src: url({% static 'home/fonts/Raleway-Medium.ttf' %});
	}

	a.arrow {
		color: rgba(255,255,255,0.6);
	}

	a.arrow:hover {
		color: rgba(255,255,255,1);
	}
	</style>
  <div id="index-banner" class="parallax-container" style="height: 1020px; background-color: rgba(0, 0, 0, 0.31);">
    <div class="section no-pad-bot">
      <div class="container row" style="margin-bottom: 7px; margin-top: 50px; border-bottom: solid; border-width: 1px; text-align: center;">
          <div class="col s9 row">
            <div class="col s2 offset-s2">
              <h5><a class="arrow" href=# style="font-weight: 200;">Home</a></h5>
            </div>
            <div class="col s2">
              <h5><a class="arrow" href=# style="font-weight: 200;">About</a></h5>
            </div>
            <div class="col s2">
              <h5><a class="arrow" href=# style="font-weight: 200;">Projects</a></h5>
            </div>
            <div class="col s2">
              <h5><a class="arrow" href=# style="font-weight: 200;">Courses</a></h5>
            </div>
            <div class="col s2">
              <h5><a class="arrow" href=# style="font-weight: 200;">News</a></h5>
            </div>
          </div>
          <div class="col s3" style="text-align: right;">
          <a href="#modal1" class="waves-effect waves btn-large white modal-trigger" style="margin-bottom:10px; border-radius: 50px; color: rgba(0,0,0,0.5); width: 150px;">Login</a>
          </div>
      </div>
    </div>
    <div class="section no-pad-bot">
      <div class="container row valign-wrapper" style="height: 600px; margin-bottom: 0px;">
        <div class="col s1 valign center-align">
          <a class="arrow" href=#><i class="fa fa-5x fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="col s5 valign center-align">
          <img src="{% static 'home/logo.png' %}" style="width: 70%;"/>
        </div>
        <div class="col s5 valign ">
        <h2 style="font-family: Raleway;">Challange<br>Your<br>Near Future</h2>
        <h5 style="font-weight: 200;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque eget mi at mollis. Nullam cursus porttitor sapien.</h5>
        </div>
        <div class="col s1 valign center-align">
          <a class="arrow" href=#><i class="fa fa-5x fa-chevron-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="center-align">
    <a class="white waves-effect waves btn-large valign" style="margin-bottom:10px; border-radius: 50px; color: rgba(0,0,0,0.5); width: 300px; height: 80px; padding: auto;"></a>
    </div>
    <div class="parallax"><img src="{% static 'home/background.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>

  <div class="grey darken-3 white-text z-depth-2" style="padding-top: 20px; padding-bottom: 30px;">
    <div class="section center">
        <h2>한국 데이터사이언스 교육의 기준은 Headstart입니다.</h2>
        <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text text-lighten-2"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text text-lighten-2"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text text-lighten-2"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>
						

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'home/background2.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="center-align light">
          	<div class="red lighten-4" style="height: 300px; width: 300px; -webkit-border-radius:300px; margin-top: 30px; margin-left: auto; margin-right: auto;"></div>
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'home/background3.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>

	<div id="modal1" class="modal">
		<div class="modal-content">
			<h4>Modal Header</h4>
			<p>A bunch of text</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
		</div>
	</div>

	<footer class="page-footer grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright cyan lighten-1">
      <div class="container">
      Made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
	<script>
		$(document).ready(function(){
		  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
			$('.modal-trigger').leanModal();
			$('#modal1').openModal();
			$('#modal1').closeModal();
		});
	</script>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'home/js/materialize.js' %}"></script>
  <script src="{% static 'home/js/init.js' %}"></script>

  </body>
</html>
