<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Headstart Silicon Valley</title>
  <link rel="shortcut icon" type="image/x-icon"
	href="http://headstartsv.com/static/home/favicon.ico">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
  <link href="{% static 'home/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'home/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	<style>
  @font-face {
		font-family: Raleway;
		src: url({% static 'home/fonts/Raleway-Medium.ttf' %});
	}

	a.arrow {
		color: rgba(255,255,255,0.6);
	}

	a.arrow:hover {
		color: rgba(255,255,255,1);
	}
	</style>
  <div id="index-banner" class="parallax-container" style="height: 1020px; background-color: rgba(0, 0, 0, 0.31);">
    <div class="section no-pad-bot">
      <div class="container row" style="margin-bottom: 7px; margin-top: 50px; border-bottom: solid; border-width: 1px; text-align: center;">
          <div class="col s9 row">
            <div class="col s2 offset-s2">
              <h5><a class="arrow" href=# style="font-weight: 200;">Home</a></h5>
            </div>
            <div class="col s2">
              <h5><a class="arrow" href=# style="font-weight: 200;">About</a></h5>
            </div>
            <div class="col s2">
              <h5><a class="arrow" href=# style="font-weight: 200;">Projects</a></h5>
            </div>
            <div class="col s2">
              <h5><a class="arrow" href=# style="font-weight: 200;">Courses</a></h5>
            </div>
            <div class="col s2">
              <h5><a class="arrow" href=# style="font-weight: 200;">News</a></h5>
            </div>
          </div>
          <div class="col s3" style="text-align: right;">
          <a href=# class="waves-effect waves btn-large white" style="margin-bottom:10px; border-radius: 50px; color: rgba(0,0,0,0.5); width: 150px;">Login</a>
          </div>
      </div>
    </div>
    <div class="section no-pad-bot">
      <div class="container row valign-wrapper" style="height: 600px; margin-bottom: 0px;">
        <div class="col s1 valign center-align">
          <a class="arrow" href=#><i class="fa fa-5x fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="col s5 valign center-align">
          <img src="{% static 'home/logo.png' %}" style="width: 70%;"/>
        </div>
        <div class="col s5 valign ">
        <h2 style="font-family: Raleway;">Challange<br>Your<br>Near Future</h2>
        <h5 style="font-weight: 200;">Headstart는 Data Science에 대한 실제적인 수업을 통해 효율적으로 작업을 수행하는 데 사용할 수 있는 최적의 도구를 제공합니다.</h5>
        </div>
        <div class="col s1 valign center-align">
          <a class="arrow" href=#><i class="fa fa-5x fa-chevron-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="center-align">
    <a class="white waves-effect waves btn-large valign" style="margin-bottom:10px; border-radius: 50px; color: rgba(0,0,0,0.5); width: 300px; height: 80px; padding: auto;"></a>
    </div>
    <div class="parallax"><img src="{% static 'home/background.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>

  <div class="grey darken-3 white-text z-depth-2" style="padding-top: 20px; padding-bottom: 30px;">
    <div class="section center">
        <h2>한국 데이터사이언스 교육의 기준은 Headstart입니다.</h2>
        <h5>The standard of data science education in korea is Headstart.</h5>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text text-lighten-2"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">대학생 및 대학원생</h5>

            <p class="light">대부분의 학생들은 이론 중심의 교육을 받기 때문에 <strong>Data Science</strong>에 대해서 깊게 알지 못합니다. 미국IT 기업의 업무진행방식을 직접 경험해 볼 수 있는 인턴쉽을 제공하며 현장실습교과목을 통한 3학점 인정이 가능합니다. <strong>Headstart</strong>는 실제 업무에 사용되는 프로그래밍 역량을 강화하고 취업에 필요한 데이터 포트폴리오를 완성하여 취업까지 이어질 수 있도록 지원해 드립니다.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text text-lighten-2"><i class="material-icons">group</i></h2>
            <h5 class="center">현직 종사자 및 이직 희망자</h5>

            <p class="light">현업에서 업무역량을 키우고 싶으신 분, 데이터 분석가로 커리어 전환하고 싶으신 분, 수 많은 양의 데이터가 있어도 활용하지 못한다면 업무 처리는 제자리 걸음이 될 수밖에 없으므로 데이터를 보다 효율적으로 분석하고 실무에 바로 적용할 수 있도록 <strong>Headstart</strong>가 함께하겠습니다..</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text text-lighten-2"><i class="material-icons">settings</i></h2>
            <h5 class="center">의사 결정자</h5>
						

            <p class="light">기업에서 많은 데이터를 가지고 있어도 그 데이터에서 숨겨진 의미를 찾지 못해 올바른 결정을 하기 힘든 경우, <strong>Headstart</strong>는 실제 미국 IT기업이 데이터를 분석하는 방법과 활용사례를 통해 데이터 안의 숨은 의미를 볼 수 있는 시야를 넓혀주며, 데이터를 기반으로 효율적으로 판단을 할 수 있도록 도와드립니다. 일반인과 학생들의 공동프로젝트를 진행함으로써 인재 발굴에 도움을 드립니다.</p>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'home/background2.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="center-align light">
          	<div class="red lighten-4" style="height: 300px; width: 300px; -webkit-border-radius:300px; margin-top: 30px; margin-left: auto; margin-right: auto;"></div>
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'home/background3.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>
<br />
		<div style="text-align: center;">
			<a href="#output"><input id="btn1" type="button" value="THE TEAM"
				onclick="Output(this.value);" /></a> <a href="#output"><input id="btn2" type="button"
				value="INSTRUCTORS" onclick="Output(this.value);" /></a>
			<br /><br />
			<div id="output"></div>
		</div>

  <footer class="page-footer grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright cyan lighten-1">
      <div class="container">
      Made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'home/js/materialize.js' %}"></script>
  <script src="{% static 'home/js/init.js' %}"></script>

  </body>
</html>
